html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #726977, #4f0379);
    background-size: auto;
}

h2#stuffaboutme {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-display: auto;
    color: azure;
    text-align: center;
}

h1,h2, h3, h4, h5, h6, div, p, td, a, em, i{
    color: white;
}

.back{
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goback{
    margin: 10px;
    gap: 40px;
}

a:hover, details:hover {
    background-color: #5c7cb6;
    width: fit-content;
  }

  .favs{
    padding: 20px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 30px;
}

.section{
    padding: 20px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 30px;
}

a.button,
input.button {
  border: 1px solid rgb(56, 184, 189);
  background-color: rgb(198, 174, 236);
  border-radius: 20px;
  padding: 5px;
  width: 80px;
  height: 30px;
  box-shadow: -1px -1px rgb(56, 184, 189);
}

.button:focus {
  transition: box-shadow 1ms;
  box-shadow: 0 0;
  transform: translateY(-1px);
}

.button:hover {
  background-color: rgb(56, 78, 204);
  cursor: pointer;
}

.array:hover{
    background-color: rgb(56, 78, 204);
}

footer{
    padding: 20px;
    text-align: right;
    margin-right: 5px;
}