html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #726977, #4f0379);
    background-size: auto;
}


h1#header {
    font-size: 45px;    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: azure;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; 
    animation: fadeout 5s ease-in-out forwards;
}

p#about-website{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

h1,h2, h3, h4, h5, h6, p, legend, label, em, a, li{
    color: white;
}

.bar{
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

a:hover, details:hover {
  background-color: #5c7cb6;
  width: fit-content;
}

.links {
    margin: 10px;
}

.links a {
    border-right: solid;
    border-color: darkblue;
    border-width: 2px;
    padding: 0 10px 0 10px;
  }

  .links a:last-child {
    border-right: none;
  }

.section{
    padding: 20px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 10px; 
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;  
}

.overview{
    gap: 20px;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

.favs{
    padding: 20px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 10px;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}


img#discord-icon{
    max-width: 15px;
    min-height: 15px;
    margin-left: 5px;
    filter: opacity(75%);
}
img#github-icon{
    max-width: 15px;
    min-height: 15px;
    margin-left: 5px;
    filter: opacity(75%);
}


footer{
    padding: 5px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 20px;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

@keyframes fadeout {
    0% {
        font-size: 200px;
    }
    25% {
        font-size: 200px;
    }
    75% {
        font-size: 80px;
    }
    100% {
        font-size: 80px;
        opacity: 0; 
    }

}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}