html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #726977, #4f0379);
    background-size: auto;
}


h1#header {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-display: auto;
    color: azure;
    text-align: center;
}

p#about-website{
    font-size: 25px;
    text-align: center;
}

h1,h2, h3, h4, h5, h6, p, legend, label, em, a, li{
    color: white;
}

.bar{
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:hover, details:hover {
  background-color: #5c7cb6;
  width: fit-content;
}

.links {
    margin: 10px;
}

.links a {
    border-right: solid;
    border-color: darkblue;
    border-width: 2px;
    padding: 0 10px 0 10px;
  }

  .links a:last-child {
    border-right: none;
  }

.section{
    padding: 20px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 10px;
    
}

.favs{
    padding: 20px;
    position: relative;
    margin: 50px 10px;
    background-image: linear-gradient(to right, #3f3953, #7085ab);
    border-radius: 10px;
}


img#discord-icon{
    max-width: 15px;
    min-height: 15px;
    margin-left: 5px;
    filter: opacity(75%);
}
img#github-icon{
    max-width: 15px;
    min-height: 15px;
    margin-left: 5px;
    filter: opacity(75%);
}


footer{
    padding: 20px;
    text-align: right;
    margin-right: 5px;
}